.alerta-success {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7%;
  width: 400px;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%); // Centra completamente el elemento.
  z-index: 1000;
}
