@import "../../../App.scss";

.menu-lateral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0%;
  padding: 4% 0%;
  background-color: rgb(237, 241, 245);
  width: 15em;

  .menu-lateral-logo {
    padding-left: 15%;
    width: 5em;
    height: 5em;
  }

  .icono-lista {
    width: 1em;
    height: 1em;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .clicado {
    background-color: lighten($secundary-color, 10%);
  }

  .menu-lateral-enlaces {
    width: 100%;

    > div {
      padding: 3% 0 3% 15%;
    }

    a {
      p {
        // Para quitar un estilo con un margin-top: 0;
        margin: 0;
      }
    }
  }

  .contenedor-enlace {
    padding-left: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4%;
    width: 100%;
    height: 2.5em;

    &:hover {
      background-color: lighten($secundary-color, 10%);
    }
  }

  .menu-lateral-perfil {
    width: 100%;

    > div {
      padding: 3% 0 3% 15%;
    }

    a {
      p {
        // Para quitar un estilo con un margin-top: 0;
        margin: 0;
      }
    }
  }

  //Media queries para móvil pero versión beta.
  @media only screen and (max-width: 900px) {
    width: 3em;

    .menu-lateral-logo {
      width: 2em;
      height: 2em;
    }
    img {
      display: flex;
      align-items: center;
    }
    div {
    }

    p {
      display: none;
    }
  }
}
