.anuncios {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* Centra el grid en el eje horizontal */

  @media only screen and (max-width: 1500px) {
    /* En tablet, cambia a dos columnas */
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
  }

  @media only screen and (max-width: 800px) {
    /* En móvil, cambia a una columna */
    grid-row-gap: 1%;
    grid-template-columns: 1fr;

    /*  @media only screen and (max-width: 700px) {
      .anuncio {
        width: 20em;
        height: 30em;
      }
    } */
  }
}
