@import "../../../App.scss";

.anuncios {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* Centra el grid en el eje horizontal */
  @include card_size(27em);

  @media only screen and (max-width: 1500px) {
    /* En tablet, cambia a dos columnas */
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
    grid-row-gap: 2%;

    @include card_size(24em);
  }

  @media only screen and (max-width: 900px) {
    /* En móvil, cambia a una columna */
    @include card_size(20em);
  }

  @media only screen and (max-width: 700px) {
    /* En móvil, cambia a una columna */
    grid-template-columns: 1fr;
    grid-gap: 1%;
    @include card_size(20em);
  }
}

.no-hay-anuncios {
  color: $secundary-color;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
