@import "../../../App.scss";

.card {
  //Ajustes de tarjetas para que quden rectas.
  box-shadow: 0px 0.6px 0px rgba(0, 0, 0, 0.045),
    0px 5px 0px rgba(0, 0, 0, 0.09);

  img {
    height: 14em;
    cursor: pointer;
  }
  .card-nombre {
    height: 1em;
  }
  .card-descripcion {
    height: 7em;
  }

  .anuncio-precio-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-right: 5%;
    margin-bottom: 2%;

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ui-like {
      margin-bottom: 3.2%;
    }
  }
}
