@import "../App.scss";

.contenedor-anuncio-individual {
  margin-top: 2%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

  img {
    height: 20em;
    width: 30em;
  }
  .precio-anuncio-individual {
    width: 30em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
  }
  .datos-anuncio-individual {
    width: 30em;
  }

  button {
    width: 100%;
    border: none;
    outline: none;
    background-color: $third-color;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .lista-garantias li {
    list-style-type: none;
  }
  .lista-garantias li::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13" height="13" viewBox="0 0 16 16"><path d="M 7.5 1 C 3.917969 1 1 3.917969 1 7.5 C 1 11.082031 3.917969 14 7.5 14 C 11.082031 14 14 11.082031 14 7.5 C 14 3.917969 11.082031 1 7.5 1 Z M 7.5 2 C 10.542969 2 13 4.457031 13 7.5 C 13 10.542969 10.542969 13 7.5 13 C 4.457031 13 2 10.542969 2 7.5 C 2 4.457031 4.457031 2 7.5 2 Z M 10.144531 5.148438 L 6.5 8.792969 L 4.851563 7.148438 L 4.148438 7.851563 L 6.5 10.207031 L 10.855469 5.851563 Z"></path></svg>');
    color: $primary-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }

  .fecha-anuncio,
  .descripcion-anuncio {
    margin: 3% 0;
  }
}
