.creacion-producto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
  gap: 2%;

  .contenedor-form-prev {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
  }

  .texto-rojo {
    color: crimson;
  }
  @media only screen and (max-width: 900px) {
    .contenedor-form-prev {
      flex-direction: column;
      align-items: center;
      gap: 5%;
    }
  }
}
