.explora {
  .contenedor-anuncios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buscador-y-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    margin: 2% 14%;

    .css-b62m3t-container {
      width: 40%;
    }
  }
}
