@import "../../App.scss";

.buscador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  .input-buscar-servicio:focus {
    border-color: $primary-color;
  }
  .boton-buscar-servicio {
    background-color: $secundary-color;
    border: 0;
  }
}
