@import "../../App.scss";

footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7%;
  background-color: rgb(32, 35, 52);
  color: $text-color;

  margin-top: 6%;
  padding-top: 2%;
  padding-bottom: 5%;

  img {
    height: 3em;
    width: 3em;
    background-color: aliceblue;
    border: 2px solid rgb(32, 35, 52);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  li {
    list-style-type: none;
  }

  .redes {
    flex-direction: row;
    align-items: center;
    gap: 10%;
    img {
      height: 2em;
      width: 2em;
    }
  }
  a {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $third-color;
    }
  }

  h3 {
    border-bottom: 1px solid $third-color;
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    margin: 4%;
  }
}
