@import "../../App.scss";

.hero-section {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
  margin-bottom: 5%;

  .hero-section-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .hero-section-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  video {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70%;
    height: auto;
  }

  p {
    width: 70%;
    height: auto;
    font-weight: bold;
    font-size: 4em;
  }
  .special-word {
    color: $third-color;
    font-family: $fuente-enfasis-palabra;
    font-weight: bold;
  }
}
