@import "../../App.scss";

.inisgnias {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .insignias-marcas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15%;

    img {
      width: auto;
      height: 3em;
    }
  }
  @media screen and (max-width: 800px) {
    .insignias-marcas {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10%;
      width: 20em;

      img {
        width: 2em;
        height: 2em;
      }
    }
  }
}
